<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>paymentpage</servlet-name>
        <servlet-class>com.User.paymentpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet1</servlet-name>
        <servlet-class>com.User.RegisterServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.User.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionLink</servlet-name>
        <servlet-class>com.User.ConnectionLink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionLinkAkashaAir</servlet-name>
        <servlet-class>com.User.ConnectionLinkAkashaAir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionLinkAirAsia</servlet-name>
        <servlet-class>com.User.ConnectionLinkAirAsia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionLinkAirIndia</servlet-name>
        <servlet-class>com.User.ConnectionLinkAirIndia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionLinkIndigo</servlet-name>
        <servlet-class>com.User.ConnectionLinkIndigo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginPageCheck</servlet-name>
        <servlet-class>com.User.loginPageCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paymentpage</servlet-name>
        <url-pattern>/paymentpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet1</servlet-name>
        <url-pattern>/RegisterServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionLink</servlet-name>
        <url-pattern>/ConnectionLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionLinkAkashaAir</servlet-name>
        <url-pattern>/ConnectionLinkAkashaAir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionLinkAirAsia</servlet-name>
        <url-pattern>/ConnectionLinkAirAsia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionLinkAirIndia</servlet-name>
        <url-pattern>/ConnectionLinkAirIndia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionLinkIndigo</servlet-name>
        <url-pattern>/ConnectionLinkIndigo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginPageCheck</servlet-name>
        <url-pattern>/loginPageCheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
